<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Web APP / Services</title>
    <link rel="stylesheet" href="{{style}}" />
    <link rel="stylesheet" href="{{servicesStyle}}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto+Slab:wght@800&display=swap" />
  </head>
  <body>
    <header>
      <h1>Express<span>WebAPP</span></h1>
      <nav>
        <ul>
          <li><a href="http://localhost:{{port}}/home">Accueil</a></li>
          <li><a href="http://localhost:{{port}}/services">Nos services</a></li>
          <li><a href="http://localhost:{{port}}/contact">Contactez-nous</a></li>
        </ul>
      </nav>
    </header>
    <section class="servicesBox">
      <h2>Servoces<span>Offerts</span></h2>
      <div class="container">
        <div class="box">
          <h2>(01)</h2>
          <h3>Service One</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            commodi unde eum officiis iusto accusantium hic non reiciendis.
          </p>
        </div>
        <div class="box">
          <h2>(02)</h2>
          <h3>Service Two</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            commodi unde eum officiis iusto accusantium hic non reiciendis.
          </p>
        </div>
        <div class="box">
          <h2>(03)</h2>
          <h3>Service Three</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            commodi unde eum officiis iusto accusantium hic non reiciendis.
          </p>
        </div>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
